extends layout

block content
  div(class="container")
    div(class="pb-2 border-bottom")
      h2="MyBank"
      div(class="text-end")
        if user != null
          a(href="/logout" class="btn btn-primary")="Logout"
        else
          a(href="/login" class="btn btn-primary")="Login"

    div(class="row")
      div(class="col")
        a(href="/balance")="View Account Balance"

      div(class="col")
        a(href="/account")="View Account Number"

      div(class="col")
        a(href="/contact")="Contact Us"

      div(class="col")
        a(href="/account")="Account"
